.flexbox .grid {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 auto;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  box-sizing: border-box; }

.flexbox .grid__unit {
  width: 100%;
  -webkit-flex-basis: 100%;
      -ms-flex-preferred-size: 100%;
          flex-basis: 100%;
  box-sizing: border-box; }

.no-flexbox .grid {
  font-size: 0; }

.no-flexbox .grid__unit {
  display: inline-block;
  box-sizing: border-box;
  width: 100%;
  font-size: 1rem;
  vertical-align: top; }

/* targeting devices from 0px */
@media (min-width: 0em) {
  .flexbox .grid__unit[g-xs~="cols:min"] {
    width: auto;
    -webkit-box-flex: 0;
    -webkit-flex-grow: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -webkit-flex-basis: auto;
        -ms-flex-preferred-size: auto;
            flex-basis: auto; }
  .no-flexbox .grid__unit[g-xs~="cols:min"] {
    width: auto; }
  .flexbox .grid__unit[g-xs~="cols:max"] {
    width: auto;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -webkit-flex-basis: auto;
        -ms-flex-preferred-size: auto;
            flex-basis: auto; }
  .flexbox .grid__unit[g-xs~="cols:1"] {
    -webkit-flex-basis: 8.33333%;
        -ms-flex-preferred-size: 8.33333%;
            flex-basis: 8.33333%; }
  [g-xs~="cols:1"], .no-flexbox [g-xs~="cols:1"] {
    width: 8.33333%; }
  .flexbox .grid__unit[g-xs~="cols:2"] {
    -webkit-flex-basis: 16.66667%;
        -ms-flex-preferred-size: 16.66667%;
            flex-basis: 16.66667%; }
  [g-xs~="cols:2"], .no-flexbox [g-xs~="cols:2"] {
    width: 16.66667%; }
  .flexbox .grid__unit[g-xs~="cols:3"] {
    -webkit-flex-basis: 25%;
        -ms-flex-preferred-size: 25%;
            flex-basis: 25%; }
  [g-xs~="cols:3"], .no-flexbox [g-xs~="cols:3"] {
    width: 25%; }
  .flexbox .grid__unit[g-xs~="cols:4"] {
    -webkit-flex-basis: 33.33333%;
        -ms-flex-preferred-size: 33.33333%;
            flex-basis: 33.33333%; }
  [g-xs~="cols:4"], .no-flexbox [g-xs~="cols:4"] {
    width: 33.33333%; }
  .flexbox .grid__unit[g-xs~="cols:5"] {
    -webkit-flex-basis: 41.66667%;
        -ms-flex-preferred-size: 41.66667%;
            flex-basis: 41.66667%; }
  [g-xs~="cols:5"], .no-flexbox [g-xs~="cols:5"] {
    width: 41.66667%; }
  .flexbox .grid__unit[g-xs~="cols:6"] {
    -webkit-flex-basis: 50%;
        -ms-flex-preferred-size: 50%;
            flex-basis: 50%; }
  [g-xs~="cols:6"], .no-flexbox [g-xs~="cols:6"] {
    width: 50%; }
  .flexbox .grid__unit[g-xs~="cols:7"] {
    -webkit-flex-basis: 58.33333%;
        -ms-flex-preferred-size: 58.33333%;
            flex-basis: 58.33333%; }
  [g-xs~="cols:7"], .no-flexbox [g-xs~="cols:7"] {
    width: 58.33333%; }
  .flexbox .grid__unit[g-xs~="cols:8"] {
    -webkit-flex-basis: 66.66667%;
        -ms-flex-preferred-size: 66.66667%;
            flex-basis: 66.66667%; }
  [g-xs~="cols:8"], .no-flexbox [g-xs~="cols:8"] {
    width: 66.66667%; }
  .flexbox .grid__unit[g-xs~="cols:9"] {
    -webkit-flex-basis: 75%;
        -ms-flex-preferred-size: 75%;
            flex-basis: 75%; }
  [g-xs~="cols:9"], .no-flexbox [g-xs~="cols:9"] {
    width: 75%; }
  .flexbox .grid__unit[g-xs~="cols:10"] {
    -webkit-flex-basis: 83.33333%;
        -ms-flex-preferred-size: 83.33333%;
            flex-basis: 83.33333%; }
  [g-xs~="cols:10"], .no-flexbox [g-xs~="cols:10"] {
    width: 83.33333%; }
  .flexbox .grid__unit[g-xs~="cols:11"] {
    -webkit-flex-basis: 91.66667%;
        -ms-flex-preferred-size: 91.66667%;
            flex-basis: 91.66667%; }
  [g-xs~="cols:11"], .no-flexbox [g-xs~="cols:11"] {
    width: 91.66667%; }
  .flexbox .grid__unit[g-xs~="cols:12"] {
    -webkit-flex-basis: 100%;
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%; }
  [g-xs~="cols:12"], .no-flexbox [g-xs~="cols:12"] {
    width: 100%; }
  /* ====== Horizontal Align ====== */
  /* --- halign:left --- */
  .flexbox .grid[g-xs~="halign:left"] {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start; }
  .flexbox .grid[g-xs~="halign:left"][g-xs~="order:reverse"] {
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
            justify-content: flex-end; }
  .no-flexbox .grid[g-xs~="halign:left"] {
    text-align: left; }
  /* --- halign:center --- */
  .flexbox .grid[g-xs~="halign:center"], .flexbox .grid[g-xs~="halign:center"][g-xs~="order:reverse"] {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .no-flexbox .grid[g-xs~="halign:center"] {
    text-align: center; }
  /* --- halign:right --- */
  .flexbox .grid[g-xs~="halign:right"] {
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
            justify-content: flex-end; }
  .flexbox .grid[g-xs~="halign:right"][g-xs~="order:reverse"] {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start; }
  .no-flexbox .grid[g-xs~="halign:right"] {
    text-align: right; }
  /* --- halign:justify --- */
  .flexbox .grid[g-xs~="halign:justify"] {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .no-flexbox .grid[g-xs~="halign:justify"] {
    text-align: justify; }
  .no-flexbox .grid[g-xs~="halign:justify"]:after {
    display: inline-block;
    content: "";
    width: 100%; }
  /* --- halign:justify-center --- */
  .flexbox .grid[g-xs~="halign:justify-center"] {
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around; }
  .no-flexbox .grid[g-xs~="halign:justify-center"] {
    text-align: justify; }
  .no-flexbox .grid[g-xs~="halign:justify-center"]:after {
    display: inline-block;
    content: "";
    width: 100%; }
  /* ====== Vertical Align ====== */
  .flexbox .grid[g-xs~="valign:top"] {
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
    vertical-align: top; }
  .flexbox .grid[g-xs~="valign:middle"] {
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    vertical-align: middle; }
  .flexbox .grid[g-xs~="valign:bottom"] {
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
        -ms-flex-align: end;
            align-items: flex-end;
    vertical-align: bottom; }
  .flexbox .grid[g-xs~="valign:stretch"] {
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
        -ms-flex-align: stretch;
            align-items: stretch; }
  .flexbox .grid[g-xs~="order:reverse"] {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: row-reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
            justify-content: flex-end; }
  .flexbox .grid__unit[g-xs~="order:first"] {
    -webkit-box-ordinal-group: 0;
    -webkit-order: -1;
        -ms-flex-order: -1;
            order: -1; }
  .flexbox .grid__unit[g-xs~="order:last"] {
    -webkit-box-ordinal-group: 13;
    -webkit-order: 12;
        -ms-flex-order: 12;
            order: 12; }
  .flexbox [g-xs~="visible"], .no-flexbox [g-xs~="visible"] {
    display: inline-block; }
  .flexbox [g-xs~="invisible"], .no-flexbox [g-xs~="invisible"] {
    display: none; }
  [g-xs~="text:left"] {
    text-align: left; }
  [g-xs~="text:center"] {
    text-align: center; }
  [g-xs~="text:right"] {
    text-align: right; }
  /* --- margin --- */
  [g-xs~=mx0] {
    margin-left: 0rem;
    margin-right: 0rem; }
  [g-xs~=my0] {
    margin-top: 0rem;
    margin-bottom: 0rem; }
  [g-xs~=ml0] {
    margin-left: 0rem; }
  [g-xs~=mr0] {
    margin-right: 0rem; }
  [g-xs~=mt0] {
    margin-top: 0rem; }
  [g-xs~=mb0] {
    margin-bottom: 0rem; }
  /* --- padding --- */
  [g-xs~=px0] {
    padding-left: 0rem;
    padding-right: 0rem; }
  [g-xs~=py0] {
    padding-top: 0rem;
    padding-bottom: 0rem; }
  [g-xs~=pl0] {
    padding-left: 0rem; }
  [g-xs~=pr0] {
    padding-right: 0rem; }
  [g-xs~=pt0] {
    padding-top: 0rem; }
  [g-xs~=pb0] {
    padding-bottom: 0rem; }
  /* --- margin --- */
  [g-xs~=mx1] {
    margin-left: 1rem;
    margin-right: 1rem; }
  [g-xs~=my1] {
    margin-top: 1rem;
    margin-bottom: 1rem; }
  [g-xs~=ml1] {
    margin-left: 1rem; }
  [g-xs~=mr1] {
    margin-right: 1rem; }
  [g-xs~=mt1] {
    margin-top: 1rem; }
  [g-xs~=mb1] {
    margin-bottom: 1rem; }
  /* --- padding --- */
  [g-xs~=px1] {
    padding-left: 1rem;
    padding-right: 1rem; }
  [g-xs~=py1] {
    padding-top: 1rem;
    padding-bottom: 1rem; }
  [g-xs~=pl1] {
    padding-left: 1rem; }
  [g-xs~=pr1] {
    padding-right: 1rem; }
  [g-xs~=pt1] {
    padding-top: 1rem; }
  [g-xs~=pb1] {
    padding-bottom: 1rem; }
  /* --- margin --- */
  [g-xs~=mx2] {
    margin-left: 2rem;
    margin-right: 2rem; }
  [g-xs~=my2] {
    margin-top: 2rem;
    margin-bottom: 2rem; }
  [g-xs~=ml2] {
    margin-left: 2rem; }
  [g-xs~=mr2] {
    margin-right: 2rem; }
  [g-xs~=mt2] {
    margin-top: 2rem; }
  [g-xs~=mb2] {
    margin-bottom: 2rem; }
  /* --- padding --- */
  [g-xs~=px2] {
    padding-left: 2rem;
    padding-right: 2rem; }
  [g-xs~=py2] {
    padding-top: 2rem;
    padding-bottom: 2rem; }
  [g-xs~=pl2] {
    padding-left: 2rem; }
  [g-xs~=pr2] {
    padding-right: 2rem; }
  [g-xs~=pt2] {
    padding-top: 2rem; }
  [g-xs~=pb2] {
    padding-bottom: 2rem; }
  /* --- margin --- */
  [g-xs~=mx3] {
    margin-left: 3rem;
    margin-right: 3rem; }
  [g-xs~=my3] {
    margin-top: 3rem;
    margin-bottom: 3rem; }
  [g-xs~=ml3] {
    margin-left: 3rem; }
  [g-xs~=mr3] {
    margin-right: 3rem; }
  [g-xs~=mt3] {
    margin-top: 3rem; }
  [g-xs~=mb3] {
    margin-bottom: 3rem; }
  /* --- padding --- */
  [g-xs~=px3] {
    padding-left: 3rem;
    padding-right: 3rem; }
  [g-xs~=py3] {
    padding-top: 3rem;
    padding-bottom: 3rem; }
  [g-xs~=pl3] {
    padding-left: 3rem; }
  [g-xs~=pr3] {
    padding-right: 3rem; }
  [g-xs~=pt3] {
    padding-top: 3rem; }
  [g-xs~=pb3] {
    padding-bottom: 3rem; }
  /* --- margin --- */
  [g-xs~=mx4] {
    margin-left: 4rem;
    margin-right: 4rem; }
  [g-xs~=my4] {
    margin-top: 4rem;
    margin-bottom: 4rem; }
  [g-xs~=ml4] {
    margin-left: 4rem; }
  [g-xs~=mr4] {
    margin-right: 4rem; }
  [g-xs~=mt4] {
    margin-top: 4rem; }
  [g-xs~=mb4] {
    margin-bottom: 4rem; }
  /* --- padding --- */
  [g-xs~=px4] {
    padding-left: 4rem;
    padding-right: 4rem; }
  [g-xs~=py4] {
    padding-top: 4rem;
    padding-bottom: 4rem; }
  [g-xs~=pl4] {
    padding-left: 4rem; }
  [g-xs~=pr4] {
    padding-right: 4rem; }
  [g-xs~=pt4] {
    padding-top: 4rem; }
  [g-xs~=pb4] {
    padding-bottom: 4rem; }
  /* --- margin --- */
  [g-xs~=mx5] {
    margin-left: 5rem;
    margin-right: 5rem; }
  [g-xs~=my5] {
    margin-top: 5rem;
    margin-bottom: 5rem; }
  [g-xs~=ml5] {
    margin-left: 5rem; }
  [g-xs~=mr5] {
    margin-right: 5rem; }
  [g-xs~=mt5] {
    margin-top: 5rem; }
  [g-xs~=mb5] {
    margin-bottom: 5rem; }
  /* --- padding --- */
  [g-xs~=px5] {
    padding-left: 5rem;
    padding-right: 5rem; }
  [g-xs~=py5] {
    padding-top: 5rem;
    padding-bottom: 5rem; }
  [g-xs~=pl5] {
    padding-left: 5rem; }
  [g-xs~=pr5] {
    padding-right: 5rem; }
  [g-xs~=pt5] {
    padding-top: 5rem; }
  [g-xs~=pb5] {
    padding-bottom: 5rem; }
  /* --- margin --- */
  [g-xs~=mx6] {
    margin-left: 6rem;
    margin-right: 6rem; }
  [g-xs~=my6] {
    margin-top: 6rem;
    margin-bottom: 6rem; }
  [g-xs~=ml6] {
    margin-left: 6rem; }
  [g-xs~=mr6] {
    margin-right: 6rem; }
  [g-xs~=mt6] {
    margin-top: 6rem; }
  [g-xs~=mb6] {
    margin-bottom: 6rem; }
  /* --- padding --- */
  [g-xs~=px6] {
    padding-left: 6rem;
    padding-right: 6rem; }
  [g-xs~=py6] {
    padding-top: 6rem;
    padding-bottom: 6rem; }
  [g-xs~=pl6] {
    padding-left: 6rem; }
  [g-xs~=pr6] {
    padding-right: 6rem; }
  [g-xs~=pt6] {
    padding-top: 6rem; }
  [g-xs~=pb6] {
    padding-bottom: 6rem; } }

/* targeting devices from 569px */
@media (min-width: 35.5625em) {
  .flexbox .grid__unit[g-sm~="cols:min"] {
    width: auto;
    -webkit-box-flex: 0;
    -webkit-flex-grow: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -webkit-flex-basis: auto;
        -ms-flex-preferred-size: auto;
            flex-basis: auto; }
  .no-flexbox .grid__unit[g-sm~="cols:min"] {
    width: auto; }
  .flexbox .grid__unit[g-sm~="cols:max"] {
    width: auto;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -webkit-flex-basis: auto;
        -ms-flex-preferred-size: auto;
            flex-basis: auto; }
  .flexbox .grid__unit[g-sm~="cols:1"] {
    -webkit-flex-basis: 8.33333%;
        -ms-flex-preferred-size: 8.33333%;
            flex-basis: 8.33333%; }
  [g-sm~="cols:1"], .no-flexbox [g-sm~="cols:1"] {
    width: 8.33333%; }
  .flexbox .grid__unit[g-sm~="cols:2"] {
    -webkit-flex-basis: 16.66667%;
        -ms-flex-preferred-size: 16.66667%;
            flex-basis: 16.66667%; }
  [g-sm~="cols:2"], .no-flexbox [g-sm~="cols:2"] {
    width: 16.66667%; }
  .flexbox .grid__unit[g-sm~="cols:3"] {
    -webkit-flex-basis: 25%;
        -ms-flex-preferred-size: 25%;
            flex-basis: 25%; }
  [g-sm~="cols:3"], .no-flexbox [g-sm~="cols:3"] {
    width: 25%; }
  .flexbox .grid__unit[g-sm~="cols:4"] {
    -webkit-flex-basis: 33.33333%;
        -ms-flex-preferred-size: 33.33333%;
            flex-basis: 33.33333%; }
  [g-sm~="cols:4"], .no-flexbox [g-sm~="cols:4"] {
    width: 33.33333%; }
  .flexbox .grid__unit[g-sm~="cols:5"] {
    -webkit-flex-basis: 41.66667%;
        -ms-flex-preferred-size: 41.66667%;
            flex-basis: 41.66667%; }
  [g-sm~="cols:5"], .no-flexbox [g-sm~="cols:5"] {
    width: 41.66667%; }
  .flexbox .grid__unit[g-sm~="cols:6"] {
    -webkit-flex-basis: 50%;
        -ms-flex-preferred-size: 50%;
            flex-basis: 50%; }
  [g-sm~="cols:6"], .no-flexbox [g-sm~="cols:6"] {
    width: 50%; }
  .flexbox .grid__unit[g-sm~="cols:7"] {
    -webkit-flex-basis: 58.33333%;
        -ms-flex-preferred-size: 58.33333%;
            flex-basis: 58.33333%; }
  [g-sm~="cols:7"], .no-flexbox [g-sm~="cols:7"] {
    width: 58.33333%; }
  .flexbox .grid__unit[g-sm~="cols:8"] {
    -webkit-flex-basis: 66.66667%;
        -ms-flex-preferred-size: 66.66667%;
            flex-basis: 66.66667%; }
  [g-sm~="cols:8"], .no-flexbox [g-sm~="cols:8"] {
    width: 66.66667%; }
  .flexbox .grid__unit[g-sm~="cols:9"] {
    -webkit-flex-basis: 75%;
        -ms-flex-preferred-size: 75%;
            flex-basis: 75%; }
  [g-sm~="cols:9"], .no-flexbox [g-sm~="cols:9"] {
    width: 75%; }
  .flexbox .grid__unit[g-sm~="cols:10"] {
    -webkit-flex-basis: 83.33333%;
        -ms-flex-preferred-size: 83.33333%;
            flex-basis: 83.33333%; }
  [g-sm~="cols:10"], .no-flexbox [g-sm~="cols:10"] {
    width: 83.33333%; }
  .flexbox .grid__unit[g-sm~="cols:11"] {
    -webkit-flex-basis: 91.66667%;
        -ms-flex-preferred-size: 91.66667%;
            flex-basis: 91.66667%; }
  [g-sm~="cols:11"], .no-flexbox [g-sm~="cols:11"] {
    width: 91.66667%; }
  .flexbox .grid__unit[g-sm~="cols:12"] {
    -webkit-flex-basis: 100%;
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%; }
  [g-sm~="cols:12"], .no-flexbox [g-sm~="cols:12"] {
    width: 100%; }
  /* ====== Horizontal Align ====== */
  /* --- halign:left --- */
  .flexbox .grid[g-sm~="halign:left"] {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start; }
  .flexbox .grid[g-sm~="halign:left"][g-sm~="order:reverse"] {
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
            justify-content: flex-end; }
  .no-flexbox .grid[g-sm~="halign:left"] {
    text-align: left; }
  /* --- halign:center --- */
  .flexbox .grid[g-sm~="halign:center"], .flexbox .grid[g-sm~="halign:center"][g-sm~="order:reverse"] {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .no-flexbox .grid[g-sm~="halign:center"] {
    text-align: center; }
  /* --- halign:right --- */
  .flexbox .grid[g-sm~="halign:right"] {
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
            justify-content: flex-end; }
  .flexbox .grid[g-sm~="halign:right"][g-sm~="order:reverse"] {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start; }
  .no-flexbox .grid[g-sm~="halign:right"] {
    text-align: right; }
  /* --- halign:justify --- */
  .flexbox .grid[g-sm~="halign:justify"] {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .no-flexbox .grid[g-sm~="halign:justify"] {
    text-align: justify; }
  .no-flexbox .grid[g-sm~="halign:justify"]:after {
    display: inline-block;
    content: "";
    width: 100%; }
  /* --- halign:justify-center --- */
  .flexbox .grid[g-sm~="halign:justify-center"] {
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around; }
  .no-flexbox .grid[g-sm~="halign:justify-center"] {
    text-align: justify; }
  .no-flexbox .grid[g-sm~="halign:justify-center"]:after {
    display: inline-block;
    content: "";
    width: 100%; }
  /* ====== Vertical Align ====== */
  .flexbox .grid[g-sm~="valign:top"] {
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
    vertical-align: top; }
  .flexbox .grid[g-sm~="valign:middle"] {
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    vertical-align: middle; }
  .flexbox .grid[g-sm~="valign:bottom"] {
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
        -ms-flex-align: end;
            align-items: flex-end;
    vertical-align: bottom; }
  .flexbox .grid[g-sm~="valign:stretch"] {
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
        -ms-flex-align: stretch;
            align-items: stretch; }
  .flexbox .grid[g-sm~="order:reverse"] {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: row-reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
            justify-content: flex-end; }
  .flexbox .grid__unit[g-sm~="order:first"] {
    -webkit-box-ordinal-group: 0;
    -webkit-order: -1;
        -ms-flex-order: -1;
            order: -1; }
  .flexbox .grid__unit[g-sm~="order:last"] {
    -webkit-box-ordinal-group: 13;
    -webkit-order: 12;
        -ms-flex-order: 12;
            order: 12; }
  .flexbox [g-sm~="visible"], .no-flexbox [g-sm~="visible"] {
    display: inline-block; }
  .flexbox [g-sm~="invisible"], .no-flexbox [g-sm~="invisible"] {
    display: none; }
  [g-sm~="text:left"] {
    text-align: left; }
  [g-sm~="text:center"] {
    text-align: center; }
  [g-sm~="text:right"] {
    text-align: right; }
  /* --- margin --- */
  [g-sm~=mx0] {
    margin-left: 0rem;
    margin-right: 0rem; }
  [g-sm~=my0] {
    margin-top: 0rem;
    margin-bottom: 0rem; }
  [g-sm~=ml0] {
    margin-left: 0rem; }
  [g-sm~=mr0] {
    margin-right: 0rem; }
  [g-sm~=mt0] {
    margin-top: 0rem; }
  [g-sm~=mb0] {
    margin-bottom: 0rem; }
  /* --- padding --- */
  [g-sm~=px0] {
    padding-left: 0rem;
    padding-right: 0rem; }
  [g-sm~=py0] {
    padding-top: 0rem;
    padding-bottom: 0rem; }
  [g-sm~=pl0] {
    padding-left: 0rem; }
  [g-sm~=pr0] {
    padding-right: 0rem; }
  [g-sm~=pt0] {
    padding-top: 0rem; }
  [g-sm~=pb0] {
    padding-bottom: 0rem; }
  /* --- margin --- */
  [g-sm~=mx1] {
    margin-left: 1rem;
    margin-right: 1rem; }
  [g-sm~=my1] {
    margin-top: 1rem;
    margin-bottom: 1rem; }
  [g-sm~=ml1] {
    margin-left: 1rem; }
  [g-sm~=mr1] {
    margin-right: 1rem; }
  [g-sm~=mt1] {
    margin-top: 1rem; }
  [g-sm~=mb1] {
    margin-bottom: 1rem; }
  /* --- padding --- */
  [g-sm~=px1] {
    padding-left: 1rem;
    padding-right: 1rem; }
  [g-sm~=py1] {
    padding-top: 1rem;
    padding-bottom: 1rem; }
  [g-sm~=pl1] {
    padding-left: 1rem; }
  [g-sm~=pr1] {
    padding-right: 1rem; }
  [g-sm~=pt1] {
    padding-top: 1rem; }
  [g-sm~=pb1] {
    padding-bottom: 1rem; }
  /* --- margin --- */
  [g-sm~=mx2] {
    margin-left: 2rem;
    margin-right: 2rem; }
  [g-sm~=my2] {
    margin-top: 2rem;
    margin-bottom: 2rem; }
  [g-sm~=ml2] {
    margin-left: 2rem; }
  [g-sm~=mr2] {
    margin-right: 2rem; }
  [g-sm~=mt2] {
    margin-top: 2rem; }
  [g-sm~=mb2] {
    margin-bottom: 2rem; }
  /* --- padding --- */
  [g-sm~=px2] {
    padding-left: 2rem;
    padding-right: 2rem; }
  [g-sm~=py2] {
    padding-top: 2rem;
    padding-bottom: 2rem; }
  [g-sm~=pl2] {
    padding-left: 2rem; }
  [g-sm~=pr2] {
    padding-right: 2rem; }
  [g-sm~=pt2] {
    padding-top: 2rem; }
  [g-sm~=pb2] {
    padding-bottom: 2rem; }
  /* --- margin --- */
  [g-sm~=mx3] {
    margin-left: 3rem;
    margin-right: 3rem; }
  [g-sm~=my3] {
    margin-top: 3rem;
    margin-bottom: 3rem; }
  [g-sm~=ml3] {
    margin-left: 3rem; }
  [g-sm~=mr3] {
    margin-right: 3rem; }
  [g-sm~=mt3] {
    margin-top: 3rem; }
  [g-sm~=mb3] {
    margin-bottom: 3rem; }
  /* --- padding --- */
  [g-sm~=px3] {
    padding-left: 3rem;
    padding-right: 3rem; }
  [g-sm~=py3] {
    padding-top: 3rem;
    padding-bottom: 3rem; }
  [g-sm~=pl3] {
    padding-left: 3rem; }
  [g-sm~=pr3] {
    padding-right: 3rem; }
  [g-sm~=pt3] {
    padding-top: 3rem; }
  [g-sm~=pb3] {
    padding-bottom: 3rem; }
  /* --- margin --- */
  [g-sm~=mx4] {
    margin-left: 4rem;
    margin-right: 4rem; }
  [g-sm~=my4] {
    margin-top: 4rem;
    margin-bottom: 4rem; }
  [g-sm~=ml4] {
    margin-left: 4rem; }
  [g-sm~=mr4] {
    margin-right: 4rem; }
  [g-sm~=mt4] {
    margin-top: 4rem; }
  [g-sm~=mb4] {
    margin-bottom: 4rem; }
  /* --- padding --- */
  [g-sm~=px4] {
    padding-left: 4rem;
    padding-right: 4rem; }
  [g-sm~=py4] {
    padding-top: 4rem;
    padding-bottom: 4rem; }
  [g-sm~=pl4] {
    padding-left: 4rem; }
  [g-sm~=pr4] {
    padding-right: 4rem; }
  [g-sm~=pt4] {
    padding-top: 4rem; }
  [g-sm~=pb4] {
    padding-bottom: 4rem; }
  /* --- margin --- */
  [g-sm~=mx5] {
    margin-left: 5rem;
    margin-right: 5rem; }
  [g-sm~=my5] {
    margin-top: 5rem;
    margin-bottom: 5rem; }
  [g-sm~=ml5] {
    margin-left: 5rem; }
  [g-sm~=mr5] {
    margin-right: 5rem; }
  [g-sm~=mt5] {
    margin-top: 5rem; }
  [g-sm~=mb5] {
    margin-bottom: 5rem; }
  /* --- padding --- */
  [g-sm~=px5] {
    padding-left: 5rem;
    padding-right: 5rem; }
  [g-sm~=py5] {
    padding-top: 5rem;
    padding-bottom: 5rem; }
  [g-sm~=pl5] {
    padding-left: 5rem; }
  [g-sm~=pr5] {
    padding-right: 5rem; }
  [g-sm~=pt5] {
    padding-top: 5rem; }
  [g-sm~=pb5] {
    padding-bottom: 5rem; }
  /* --- margin --- */
  [g-sm~=mx6] {
    margin-left: 6rem;
    margin-right: 6rem; }
  [g-sm~=my6] {
    margin-top: 6rem;
    margin-bottom: 6rem; }
  [g-sm~=ml6] {
    margin-left: 6rem; }
  [g-sm~=mr6] {
    margin-right: 6rem; }
  [g-sm~=mt6] {
    margin-top: 6rem; }
  [g-sm~=mb6] {
    margin-bottom: 6rem; }
  /* --- padding --- */
  [g-sm~=px6] {
    padding-left: 6rem;
    padding-right: 6rem; }
  [g-sm~=py6] {
    padding-top: 6rem;
    padding-bottom: 6rem; }
  [g-sm~=pl6] {
    padding-left: 6rem; }
  [g-sm~=pr6] {
    padding-right: 6rem; }
  [g-sm~=pt6] {
    padding-top: 6rem; }
  [g-sm~=pb6] {
    padding-bottom: 6rem; } }

/* targeting devices from 768px */
@media (min-width: 48em) {
  .flexbox .grid__unit[g-md~="cols:min"] {
    width: auto;
    -webkit-box-flex: 0;
    -webkit-flex-grow: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -webkit-flex-basis: auto;
        -ms-flex-preferred-size: auto;
            flex-basis: auto; }
  .no-flexbox .grid__unit[g-md~="cols:min"] {
    width: auto; }
  .flexbox .grid__unit[g-md~="cols:max"] {
    width: auto;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -webkit-flex-basis: auto;
        -ms-flex-preferred-size: auto;
            flex-basis: auto; }
  .flexbox .grid__unit[g-md~="cols:1"] {
    -webkit-flex-basis: 8.33333%;
        -ms-flex-preferred-size: 8.33333%;
            flex-basis: 8.33333%; }
  [g-md~="cols:1"], .no-flexbox [g-md~="cols:1"] {
    width: 8.33333%; }
  .flexbox .grid__unit[g-md~="cols:2"] {
    -webkit-flex-basis: 16.66667%;
        -ms-flex-preferred-size: 16.66667%;
            flex-basis: 16.66667%; }
  [g-md~="cols:2"], .no-flexbox [g-md~="cols:2"] {
    width: 16.66667%; }
  .flexbox .grid__unit[g-md~="cols:3"] {
    -webkit-flex-basis: 25%;
        -ms-flex-preferred-size: 25%;
            flex-basis: 25%; }
  [g-md~="cols:3"], .no-flexbox [g-md~="cols:3"] {
    width: 25%; }
  .flexbox .grid__unit[g-md~="cols:4"] {
    -webkit-flex-basis: 33.33333%;
        -ms-flex-preferred-size: 33.33333%;
            flex-basis: 33.33333%; }
  [g-md~="cols:4"], .no-flexbox [g-md~="cols:4"] {
    width: 33.33333%; }
  .flexbox .grid__unit[g-md~="cols:5"] {
    -webkit-flex-basis: 41.66667%;
        -ms-flex-preferred-size: 41.66667%;
            flex-basis: 41.66667%; }
  [g-md~="cols:5"], .no-flexbox [g-md~="cols:5"] {
    width: 41.66667%; }
  .flexbox .grid__unit[g-md~="cols:6"] {
    -webkit-flex-basis: 50%;
        -ms-flex-preferred-size: 50%;
            flex-basis: 50%; }
  [g-md~="cols:6"], .no-flexbox [g-md~="cols:6"] {
    width: 50%; }
  .flexbox .grid__unit[g-md~="cols:7"] {
    -webkit-flex-basis: 58.33333%;
        -ms-flex-preferred-size: 58.33333%;
            flex-basis: 58.33333%; }
  [g-md~="cols:7"], .no-flexbox [g-md~="cols:7"] {
    width: 58.33333%; }
  .flexbox .grid__unit[g-md~="cols:8"] {
    -webkit-flex-basis: 66.66667%;
        -ms-flex-preferred-size: 66.66667%;
            flex-basis: 66.66667%; }
  [g-md~="cols:8"], .no-flexbox [g-md~="cols:8"] {
    width: 66.66667%; }
  .flexbox .grid__unit[g-md~="cols:9"] {
    -webkit-flex-basis: 75%;
        -ms-flex-preferred-size: 75%;
            flex-basis: 75%; }
  [g-md~="cols:9"], .no-flexbox [g-md~="cols:9"] {
    width: 75%; }
  .flexbox .grid__unit[g-md~="cols:10"] {
    -webkit-flex-basis: 83.33333%;
        -ms-flex-preferred-size: 83.33333%;
            flex-basis: 83.33333%; }
  [g-md~="cols:10"], .no-flexbox [g-md~="cols:10"] {
    width: 83.33333%; }
  .flexbox .grid__unit[g-md~="cols:11"] {
    -webkit-flex-basis: 91.66667%;
        -ms-flex-preferred-size: 91.66667%;
            flex-basis: 91.66667%; }
  [g-md~="cols:11"], .no-flexbox [g-md~="cols:11"] {
    width: 91.66667%; }
  .flexbox .grid__unit[g-md~="cols:12"] {
    -webkit-flex-basis: 100%;
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%; }
  [g-md~="cols:12"], .no-flexbox [g-md~="cols:12"] {
    width: 100%; }
  /* ====== Horizontal Align ====== */
  /* --- halign:left --- */
  .flexbox .grid[g-md~="halign:left"] {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start; }
  .flexbox .grid[g-md~="halign:left"][g-md~="order:reverse"] {
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
            justify-content: flex-end; }
  .no-flexbox .grid[g-md~="halign:left"] {
    text-align: left; }
  /* --- halign:center --- */
  .flexbox .grid[g-md~="halign:center"], .flexbox .grid[g-md~="halign:center"][g-md~="order:reverse"] {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .no-flexbox .grid[g-md~="halign:center"] {
    text-align: center; }
  /* --- halign:right --- */
  .flexbox .grid[g-md~="halign:right"] {
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
            justify-content: flex-end; }
  .flexbox .grid[g-md~="halign:right"][g-md~="order:reverse"] {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start; }
  .no-flexbox .grid[g-md~="halign:right"] {
    text-align: right; }
  /* --- halign:justify --- */
  .flexbox .grid[g-md~="halign:justify"] {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .no-flexbox .grid[g-md~="halign:justify"] {
    text-align: justify; }
  .no-flexbox .grid[g-md~="halign:justify"]:after {
    display: inline-block;
    content: "";
    width: 100%; }
  /* --- halign:justify-center --- */
  .flexbox .grid[g-md~="halign:justify-center"] {
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around; }
  .no-flexbox .grid[g-md~="halign:justify-center"] {
    text-align: justify; }
  .no-flexbox .grid[g-md~="halign:justify-center"]:after {
    display: inline-block;
    content: "";
    width: 100%; }
  /* ====== Vertical Align ====== */
  .flexbox .grid[g-md~="valign:top"] {
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
    vertical-align: top; }
  .flexbox .grid[g-md~="valign:middle"] {
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    vertical-align: middle; }
  .flexbox .grid[g-md~="valign:bottom"] {
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
        -ms-flex-align: end;
            align-items: flex-end;
    vertical-align: bottom; }
  .flexbox .grid[g-md~="valign:stretch"] {
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
        -ms-flex-align: stretch;
            align-items: stretch; }
  .flexbox .grid[g-md~="order:reverse"] {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: row-reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
            justify-content: flex-end; }
  .flexbox .grid__unit[g-md~="order:first"] {
    -webkit-box-ordinal-group: 0;
    -webkit-order: -1;
        -ms-flex-order: -1;
            order: -1; }
  .flexbox .grid__unit[g-md~="order:last"] {
    -webkit-box-ordinal-group: 13;
    -webkit-order: 12;
        -ms-flex-order: 12;
            order: 12; }
  .flexbox [g-md~="visible"], .no-flexbox [g-md~="visible"] {
    display: inline-block; }
  .flexbox [g-md~="invisible"], .no-flexbox [g-md~="invisible"] {
    display: none; }
  [g-md~="text:left"] {
    text-align: left; }
  [g-md~="text:center"] {
    text-align: center; }
  [g-md~="text:right"] {
    text-align: right; }
  /* --- margin --- */
  [g-md~=mx0] {
    margin-left: 0rem;
    margin-right: 0rem; }
  [g-md~=my0] {
    margin-top: 0rem;
    margin-bottom: 0rem; }
  [g-md~=ml0] {
    margin-left: 0rem; }
  [g-md~=mr0] {
    margin-right: 0rem; }
  [g-md~=mt0] {
    margin-top: 0rem; }
  [g-md~=mb0] {
    margin-bottom: 0rem; }
  /* --- padding --- */
  [g-md~=px0] {
    padding-left: 0rem;
    padding-right: 0rem; }
  [g-md~=py0] {
    padding-top: 0rem;
    padding-bottom: 0rem; }
  [g-md~=pl0] {
    padding-left: 0rem; }
  [g-md~=pr0] {
    padding-right: 0rem; }
  [g-md~=pt0] {
    padding-top: 0rem; }
  [g-md~=pb0] {
    padding-bottom: 0rem; }
  /* --- margin --- */
  [g-md~=mx1] {
    margin-left: 1rem;
    margin-right: 1rem; }
  [g-md~=my1] {
    margin-top: 1rem;
    margin-bottom: 1rem; }
  [g-md~=ml1] {
    margin-left: 1rem; }
  [g-md~=mr1] {
    margin-right: 1rem; }
  [g-md~=mt1] {
    margin-top: 1rem; }
  [g-md~=mb1] {
    margin-bottom: 1rem; }
  /* --- padding --- */
  [g-md~=px1] {
    padding-left: 1rem;
    padding-right: 1rem; }
  [g-md~=py1] {
    padding-top: 1rem;
    padding-bottom: 1rem; }
  [g-md~=pl1] {
    padding-left: 1rem; }
  [g-md~=pr1] {
    padding-right: 1rem; }
  [g-md~=pt1] {
    padding-top: 1rem; }
  [g-md~=pb1] {
    padding-bottom: 1rem; }
  /* --- margin --- */
  [g-md~=mx2] {
    margin-left: 2rem;
    margin-right: 2rem; }
  [g-md~=my2] {
    margin-top: 2rem;
    margin-bottom: 2rem; }
  [g-md~=ml2] {
    margin-left: 2rem; }
  [g-md~=mr2] {
    margin-right: 2rem; }
  [g-md~=mt2] {
    margin-top: 2rem; }
  [g-md~=mb2] {
    margin-bottom: 2rem; }
  /* --- padding --- */
  [g-md~=px2] {
    padding-left: 2rem;
    padding-right: 2rem; }
  [g-md~=py2] {
    padding-top: 2rem;
    padding-bottom: 2rem; }
  [g-md~=pl2] {
    padding-left: 2rem; }
  [g-md~=pr2] {
    padding-right: 2rem; }
  [g-md~=pt2] {
    padding-top: 2rem; }
  [g-md~=pb2] {
    padding-bottom: 2rem; }
  /* --- margin --- */
  [g-md~=mx3] {
    margin-left: 3rem;
    margin-right: 3rem; }
  [g-md~=my3] {
    margin-top: 3rem;
    margin-bottom: 3rem; }
  [g-md~=ml3] {
    margin-left: 3rem; }
  [g-md~=mr3] {
    margin-right: 3rem; }
  [g-md~=mt3] {
    margin-top: 3rem; }
  [g-md~=mb3] {
    margin-bottom: 3rem; }
  /* --- padding --- */
  [g-md~=px3] {
    padding-left: 3rem;
    padding-right: 3rem; }
  [g-md~=py3] {
    padding-top: 3rem;
    padding-bottom: 3rem; }
  [g-md~=pl3] {
    padding-left: 3rem; }
  [g-md~=pr3] {
    padding-right: 3rem; }
  [g-md~=pt3] {
    padding-top: 3rem; }
  [g-md~=pb3] {
    padding-bottom: 3rem; }
  /* --- margin --- */
  [g-md~=mx4] {
    margin-left: 4rem;
    margin-right: 4rem; }
  [g-md~=my4] {
    margin-top: 4rem;
    margin-bottom: 4rem; }
  [g-md~=ml4] {
    margin-left: 4rem; }
  [g-md~=mr4] {
    margin-right: 4rem; }
  [g-md~=mt4] {
    margin-top: 4rem; }
  [g-md~=mb4] {
    margin-bottom: 4rem; }
  /* --- padding --- */
  [g-md~=px4] {
    padding-left: 4rem;
    padding-right: 4rem; }
  [g-md~=py4] {
    padding-top: 4rem;
    padding-bottom: 4rem; }
  [g-md~=pl4] {
    padding-left: 4rem; }
  [g-md~=pr4] {
    padding-right: 4rem; }
  [g-md~=pt4] {
    padding-top: 4rem; }
  [g-md~=pb4] {
    padding-bottom: 4rem; }
  /* --- margin --- */
  [g-md~=mx5] {
    margin-left: 5rem;
    margin-right: 5rem; }
  [g-md~=my5] {
    margin-top: 5rem;
    margin-bottom: 5rem; }
  [g-md~=ml5] {
    margin-left: 5rem; }
  [g-md~=mr5] {
    margin-right: 5rem; }
  [g-md~=mt5] {
    margin-top: 5rem; }
  [g-md~=mb5] {
    margin-bottom: 5rem; }
  /* --- padding --- */
  [g-md~=px5] {
    padding-left: 5rem;
    padding-right: 5rem; }
  [g-md~=py5] {
    padding-top: 5rem;
    padding-bottom: 5rem; }
  [g-md~=pl5] {
    padding-left: 5rem; }
  [g-md~=pr5] {
    padding-right: 5rem; }
  [g-md~=pt5] {
    padding-top: 5rem; }
  [g-md~=pb5] {
    padding-bottom: 5rem; }
  /* --- margin --- */
  [g-md~=mx6] {
    margin-left: 6rem;
    margin-right: 6rem; }
  [g-md~=my6] {
    margin-top: 6rem;
    margin-bottom: 6rem; }
  [g-md~=ml6] {
    margin-left: 6rem; }
  [g-md~=mr6] {
    margin-right: 6rem; }
  [g-md~=mt6] {
    margin-top: 6rem; }
  [g-md~=mb6] {
    margin-bottom: 6rem; }
  /* --- padding --- */
  [g-md~=px6] {
    padding-left: 6rem;
    padding-right: 6rem; }
  [g-md~=py6] {
    padding-top: 6rem;
    padding-bottom: 6rem; }
  [g-md~=pl6] {
    padding-left: 6rem; }
  [g-md~=pr6] {
    padding-right: 6rem; }
  [g-md~=pt6] {
    padding-top: 6rem; }
  [g-md~=pb6] {
    padding-bottom: 6rem; } }

/* targeting devices from 1004px */
@media (min-width: 62.75em) {
  .flexbox .grid__unit[g-lg~="cols:min"] {
    width: auto;
    -webkit-box-flex: 0;
    -webkit-flex-grow: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -webkit-flex-basis: auto;
        -ms-flex-preferred-size: auto;
            flex-basis: auto; }
  .no-flexbox .grid__unit[g-lg~="cols:min"] {
    width: auto; }
  .flexbox .grid__unit[g-lg~="cols:max"] {
    width: auto;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -webkit-flex-basis: auto;
        -ms-flex-preferred-size: auto;
            flex-basis: auto; }
  .flexbox .grid__unit[g-lg~="cols:1"] {
    -webkit-flex-basis: 8.33333%;
        -ms-flex-preferred-size: 8.33333%;
            flex-basis: 8.33333%; }
  [g-lg~="cols:1"], .no-flexbox [g-lg~="cols:1"] {
    width: 8.33333%; }
  .flexbox .grid__unit[g-lg~="cols:2"] {
    -webkit-flex-basis: 16.66667%;
        -ms-flex-preferred-size: 16.66667%;
            flex-basis: 16.66667%; }
  [g-lg~="cols:2"], .no-flexbox [g-lg~="cols:2"] {
    width: 16.66667%; }
  .flexbox .grid__unit[g-lg~="cols:3"] {
    -webkit-flex-basis: 25%;
        -ms-flex-preferred-size: 25%;
            flex-basis: 25%; }
  [g-lg~="cols:3"], .no-flexbox [g-lg~="cols:3"] {
    width: 25%; }
  .flexbox .grid__unit[g-lg~="cols:4"] {
    -webkit-flex-basis: 33.33333%;
        -ms-flex-preferred-size: 33.33333%;
            flex-basis: 33.33333%; }
  [g-lg~="cols:4"], .no-flexbox [g-lg~="cols:4"] {
    width: 33.33333%; }
  .flexbox .grid__unit[g-lg~="cols:5"] {
    -webkit-flex-basis: 41.66667%;
        -ms-flex-preferred-size: 41.66667%;
            flex-basis: 41.66667%; }
  [g-lg~="cols:5"], .no-flexbox [g-lg~="cols:5"] {
    width: 41.66667%; }
  .flexbox .grid__unit[g-lg~="cols:6"] {
    -webkit-flex-basis: 50%;
        -ms-flex-preferred-size: 50%;
            flex-basis: 50%; }
  [g-lg~="cols:6"], .no-flexbox [g-lg~="cols:6"] {
    width: 50%; }
  .flexbox .grid__unit[g-lg~="cols:7"] {
    -webkit-flex-basis: 58.33333%;
        -ms-flex-preferred-size: 58.33333%;
            flex-basis: 58.33333%; }
  [g-lg~="cols:7"], .no-flexbox [g-lg~="cols:7"] {
    width: 58.33333%; }
  .flexbox .grid__unit[g-lg~="cols:8"] {
    -webkit-flex-basis: 66.66667%;
        -ms-flex-preferred-size: 66.66667%;
            flex-basis: 66.66667%; }
  [g-lg~="cols:8"], .no-flexbox [g-lg~="cols:8"] {
    width: 66.66667%; }
  .flexbox .grid__unit[g-lg~="cols:9"] {
    -webkit-flex-basis: 75%;
        -ms-flex-preferred-size: 75%;
            flex-basis: 75%; }
  [g-lg~="cols:9"], .no-flexbox [g-lg~="cols:9"] {
    width: 75%; }
  .flexbox .grid__unit[g-lg~="cols:10"] {
    -webkit-flex-basis: 83.33333%;
        -ms-flex-preferred-size: 83.33333%;
            flex-basis: 83.33333%; }
  [g-lg~="cols:10"], .no-flexbox [g-lg~="cols:10"] {
    width: 83.33333%; }
  .flexbox .grid__unit[g-lg~="cols:11"] {
    -webkit-flex-basis: 91.66667%;
        -ms-flex-preferred-size: 91.66667%;
            flex-basis: 91.66667%; }
  [g-lg~="cols:11"], .no-flexbox [g-lg~="cols:11"] {
    width: 91.66667%; }
  .flexbox .grid__unit[g-lg~="cols:12"] {
    -webkit-flex-basis: 100%;
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%; }
  [g-lg~="cols:12"], .no-flexbox [g-lg~="cols:12"] {
    width: 100%; }
  /* ====== Horizontal Align ====== */
  /* --- halign:left --- */
  .flexbox .grid[g-lg~="halign:left"] {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start; }
  .flexbox .grid[g-lg~="halign:left"][g-lg~="order:reverse"] {
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
            justify-content: flex-end; }
  .no-flexbox .grid[g-lg~="halign:left"] {
    text-align: left; }
  /* --- halign:center --- */
  .flexbox .grid[g-lg~="halign:center"], .flexbox .grid[g-lg~="halign:center"][g-lg~="order:reverse"] {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .no-flexbox .grid[g-lg~="halign:center"] {
    text-align: center; }
  /* --- halign:right --- */
  .flexbox .grid[g-lg~="halign:right"] {
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
            justify-content: flex-end; }
  .flexbox .grid[g-lg~="halign:right"][g-lg~="order:reverse"] {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start; }
  .no-flexbox .grid[g-lg~="halign:right"] {
    text-align: right; }
  /* --- halign:justify --- */
  .flexbox .grid[g-lg~="halign:justify"] {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .no-flexbox .grid[g-lg~="halign:justify"] {
    text-align: justify; }
  .no-flexbox .grid[g-lg~="halign:justify"]:after {
    display: inline-block;
    content: "";
    width: 100%; }
  /* --- halign:justify-center --- */
  .flexbox .grid[g-lg~="halign:justify-center"] {
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around; }
  .no-flexbox .grid[g-lg~="halign:justify-center"] {
    text-align: justify; }
  .no-flexbox .grid[g-lg~="halign:justify-center"]:after {
    display: inline-block;
    content: "";
    width: 100%; }
  /* ====== Vertical Align ====== */
  .flexbox .grid[g-lg~="valign:top"] {
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
    vertical-align: top; }
  .flexbox .grid[g-lg~="valign:middle"] {
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    vertical-align: middle; }
  .flexbox .grid[g-lg~="valign:bottom"] {
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
        -ms-flex-align: end;
            align-items: flex-end;
    vertical-align: bottom; }
  .flexbox .grid[g-lg~="valign:stretch"] {
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
        -ms-flex-align: stretch;
            align-items: stretch; }
  .flexbox .grid[g-lg~="order:reverse"] {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: row-reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
            justify-content: flex-end; }
  .flexbox .grid__unit[g-lg~="order:first"] {
    -webkit-box-ordinal-group: 0;
    -webkit-order: -1;
        -ms-flex-order: -1;
            order: -1; }
  .flexbox .grid__unit[g-lg~="order:last"] {
    -webkit-box-ordinal-group: 13;
    -webkit-order: 12;
        -ms-flex-order: 12;
            order: 12; }
  .flexbox [g-lg~="visible"], .no-flexbox [g-lg~="visible"] {
    display: inline-block; }
  .flexbox [g-lg~="invisible"], .no-flexbox [g-lg~="invisible"] {
    display: none; }
  [g-lg~="text:left"] {
    text-align: left; }
  [g-lg~="text:center"] {
    text-align: center; }
  [g-lg~="text:right"] {
    text-align: right; }
  /* --- margin --- */
  [g-lg~=mx0] {
    margin-left: 0rem;
    margin-right: 0rem; }
  [g-lg~=my0] {
    margin-top: 0rem;
    margin-bottom: 0rem; }
  [g-lg~=ml0] {
    margin-left: 0rem; }
  [g-lg~=mr0] {
    margin-right: 0rem; }
  [g-lg~=mt0] {
    margin-top: 0rem; }
  [g-lg~=mb0] {
    margin-bottom: 0rem; }
  /* --- padding --- */
  [g-lg~=px0] {
    padding-left: 0rem;
    padding-right: 0rem; }
  [g-lg~=py0] {
    padding-top: 0rem;
    padding-bottom: 0rem; }
  [g-lg~=pl0] {
    padding-left: 0rem; }
  [g-lg~=pr0] {
    padding-right: 0rem; }
  [g-lg~=pt0] {
    padding-top: 0rem; }
  [g-lg~=pb0] {
    padding-bottom: 0rem; }
  /* --- margin --- */
  [g-lg~=mx1] {
    margin-left: 1rem;
    margin-right: 1rem; }
  [g-lg~=my1] {
    margin-top: 1rem;
    margin-bottom: 1rem; }
  [g-lg~=ml1] {
    margin-left: 1rem; }
  [g-lg~=mr1] {
    margin-right: 1rem; }
  [g-lg~=mt1] {
    margin-top: 1rem; }
  [g-lg~=mb1] {
    margin-bottom: 1rem; }
  /* --- padding --- */
  [g-lg~=px1] {
    padding-left: 1rem;
    padding-right: 1rem; }
  [g-lg~=py1] {
    padding-top: 1rem;
    padding-bottom: 1rem; }
  [g-lg~=pl1] {
    padding-left: 1rem; }
  [g-lg~=pr1] {
    padding-right: 1rem; }
  [g-lg~=pt1] {
    padding-top: 1rem; }
  [g-lg~=pb1] {
    padding-bottom: 1rem; }
  /* --- margin --- */
  [g-lg~=mx2] {
    margin-left: 2rem;
    margin-right: 2rem; }
  [g-lg~=my2] {
    margin-top: 2rem;
    margin-bottom: 2rem; }
  [g-lg~=ml2] {
    margin-left: 2rem; }
  [g-lg~=mr2] {
    margin-right: 2rem; }
  [g-lg~=mt2] {
    margin-top: 2rem; }
  [g-lg~=mb2] {
    margin-bottom: 2rem; }
  /* --- padding --- */
  [g-lg~=px2] {
    padding-left: 2rem;
    padding-right: 2rem; }
  [g-lg~=py2] {
    padding-top: 2rem;
    padding-bottom: 2rem; }
  [g-lg~=pl2] {
    padding-left: 2rem; }
  [g-lg~=pr2] {
    padding-right: 2rem; }
  [g-lg~=pt2] {
    padding-top: 2rem; }
  [g-lg~=pb2] {
    padding-bottom: 2rem; }
  /* --- margin --- */
  [g-lg~=mx3] {
    margin-left: 3rem;
    margin-right: 3rem; }
  [g-lg~=my3] {
    margin-top: 3rem;
    margin-bottom: 3rem; }
  [g-lg~=ml3] {
    margin-left: 3rem; }
  [g-lg~=mr3] {
    margin-right: 3rem; }
  [g-lg~=mt3] {
    margin-top: 3rem; }
  [g-lg~=mb3] {
    margin-bottom: 3rem; }
  /* --- padding --- */
  [g-lg~=px3] {
    padding-left: 3rem;
    padding-right: 3rem; }
  [g-lg~=py3] {
    padding-top: 3rem;
    padding-bottom: 3rem; }
  [g-lg~=pl3] {
    padding-left: 3rem; }
  [g-lg~=pr3] {
    padding-right: 3rem; }
  [g-lg~=pt3] {
    padding-top: 3rem; }
  [g-lg~=pb3] {
    padding-bottom: 3rem; }
  /* --- margin --- */
  [g-lg~=mx4] {
    margin-left: 4rem;
    margin-right: 4rem; }
  [g-lg~=my4] {
    margin-top: 4rem;
    margin-bottom: 4rem; }
  [g-lg~=ml4] {
    margin-left: 4rem; }
  [g-lg~=mr4] {
    margin-right: 4rem; }
  [g-lg~=mt4] {
    margin-top: 4rem; }
  [g-lg~=mb4] {
    margin-bottom: 4rem; }
  /* --- padding --- */
  [g-lg~=px4] {
    padding-left: 4rem;
    padding-right: 4rem; }
  [g-lg~=py4] {
    padding-top: 4rem;
    padding-bottom: 4rem; }
  [g-lg~=pl4] {
    padding-left: 4rem; }
  [g-lg~=pr4] {
    padding-right: 4rem; }
  [g-lg~=pt4] {
    padding-top: 4rem; }
  [g-lg~=pb4] {
    padding-bottom: 4rem; }
  /* --- margin --- */
  [g-lg~=mx5] {
    margin-left: 5rem;
    margin-right: 5rem; }
  [g-lg~=my5] {
    margin-top: 5rem;
    margin-bottom: 5rem; }
  [g-lg~=ml5] {
    margin-left: 5rem; }
  [g-lg~=mr5] {
    margin-right: 5rem; }
  [g-lg~=mt5] {
    margin-top: 5rem; }
  [g-lg~=mb5] {
    margin-bottom: 5rem; }
  /* --- padding --- */
  [g-lg~=px5] {
    padding-left: 5rem;
    padding-right: 5rem; }
  [g-lg~=py5] {
    padding-top: 5rem;
    padding-bottom: 5rem; }
  [g-lg~=pl5] {
    padding-left: 5rem; }
  [g-lg~=pr5] {
    padding-right: 5rem; }
  [g-lg~=pt5] {
    padding-top: 5rem; }
  [g-lg~=pb5] {
    padding-bottom: 5rem; }
  /* --- margin --- */
  [g-lg~=mx6] {
    margin-left: 6rem;
    margin-right: 6rem; }
  [g-lg~=my6] {
    margin-top: 6rem;
    margin-bottom: 6rem; }
  [g-lg~=ml6] {
    margin-left: 6rem; }
  [g-lg~=mr6] {
    margin-right: 6rem; }
  [g-lg~=mt6] {
    margin-top: 6rem; }
  [g-lg~=mb6] {
    margin-bottom: 6rem; }
  /* --- padding --- */
  [g-lg~=px6] {
    padding-left: 6rem;
    padding-right: 6rem; }
  [g-lg~=py6] {
    padding-top: 6rem;
    padding-bottom: 6rem; }
  [g-lg~=pl6] {
    padding-left: 6rem; }
  [g-lg~=pr6] {
    padding-right: 6rem; }
  [g-lg~=pt6] {
    padding-top: 6rem; }
  [g-lg~=pb6] {
    padding-bottom: 6rem; } }
