@import "config";
@import "lib/mixins";
@import "lib/alignment";
@import "lib/breakpoint";
@import "lib/columns";
@import "lib/ordering";
@import "lib/spacing";
@import "lib/text";
@import "lib/visibility";

.grid {
  font-size: 0; //note: tried using letter-spacing like the current nib grid but it leaves inconsistent spacing between columns
}

.grid__unit {
  display: inline-block;
  box-sizing: border-box;
  width: 100%;
  font-size: 1rem;
  vertical-align: top;
}

@mixin grid_at($breakpoint) {
  @include grid_breakpoint($breakpoint) {

	@include grid_columns($breakpoint);
  @include grid_alignment($breakpoint);
  @include grid_ordering($breakpoint);
	@include grid_visibility($breakpoint);

    //not really part of a grid - but very helpful
    @include grid_text($breakpoint);
    @include grid_spacing($breakpoint);

  }
}

@include grid_at("xs");
@include grid_at("sm");
@include grid_at("md");
@include grid_at("lg");