@import "config";
@import "src/mixins";
@import "src/alignment";
@import "src/breakpoint";
@import "src/columns";
@import "src/ordering";
@import "src/spacing";
@import "src/text";
@import "src/visibility";

// === Grid ===

.grid {
	box-sizing: border-box;
}

.flexbox .grid {
	display: flex;
	flex: 0 1 auto;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: flex-start;
}

.no-flexbox .grid {
	font-size: 0; //note: I tried using letter-spacing like the current nib grid but it leaves inconsistent spacing between columns
}

// === Grid Unit ===

.grid__unit {
	box-sizing: border-box;
}

.flexbox .grid__unit {
	flex-basis: 100%;
	max-width: 100%;
}

.no-flexbox .grid__unit {
  display: inline-block;
  width: 100%;
  font-size: 1rem;
  vertical-align: top;
}

// === Grid Breakpoints ===

@mixin grid_at($breakpoint) {
  @include grid_breakpoint($breakpoint) {

	@include grid_columns($breakpoint);
  @include grid_alignment($breakpoint);
  @include grid_ordering($breakpoint);
	@include grid_visibility($breakpoint);

    //not really part of a grid - but very helpful
    @include grid_text($breakpoint);
    @include grid_spacing($breakpoint);

  }
}

@include grid_at("xs");
@include grid_at("sm");
@include grid_at("md");
@include grid_at("lg");