@import "../node_modules/digitaledgeit-breakpoints/index";


/// The number of grid columns
$grid_columns: 12 !default;

$grid_fallback_inlineblock: true !default;
$grid_fallback_mediaqueries: false !default;

//
/// Convert EMs to pixels
/// @param {} $px 	- The value (in pixels) to convert to ems
/// @param {} $base	- The base font size
//
@function em($px, $base: 16px) {
  @return ($px / $base) * 1em;
}

/// Create a placeholder at each breakpoint
@mixin placeholderizeAtEachBreakpoint($name) {
	@each $breakpoint, $px in $named_breakpoints {
		@include named_breakpoint($breakpoint) {
			@debug "creating placeholder %#{$name}--#{$breakpoint}";
			%#{$name}--#{$breakpoint} {
				@content;
			}
		}
	}
}
//
@import "grid/base";
@import "grid__unit/base";
//@import "text";
//@import "visibility";
