
@mixin grid_visibility($breakpoint) {

  // ---- other elements ----

  [#{$grid_prefix}#{$breakpoint}~="display:none"] {
    display: none;
  }

  [#{$grid_prefix}#{$breakpoint}~="display:inline"] {
    display: inline;
  }

  [#{$grid_prefix}#{$breakpoint}~="display:inline-block"] {
    display: inline-block;
  }

  [#{$grid_prefix}#{$breakpoint}~="display:block"] {
    display: block;
  }

}