
//
/// Renders the spans for the specified breakpoint e.g. g-xs="span:two"
/// @param {String} $breakpoint - The breakpoint name
//
@mixin grid_columns($breakpoint) {

	.flexbox .grid__unit[#{$grid_prefix}#{$breakpoint}~="cols:min"] {
	  	max-width: fit-content;
		flex-grow: 0;
		flex-basis: auto;
	}

	.no-flexbox .grid__unit[#{$grid_prefix}#{$breakpoint}~="cols:min"] {
		width: auto;
	}

	.flexbox .grid__unit[#{$grid_prefix}#{$breakpoint}~="cols:max"] {
		width: auto;
		flex-grow: 1;
		flex-basis: auto;
	}

	@for $i from 1 through $grid_columns {

		.flexbox .grid__unit[#{$grid_prefix}#{$breakpoint}~="cols:#{$i}"] {
			flex-basis: percentage($i/12);
			max-width: percentage($i/12);
		}

		[#{$grid_prefix}#{$breakpoint}~="cols:#{$i}"],
		.no-flexbox [#{$grid_prefix}#{$breakpoint}~="cols:#{$i}"] {
			width: percentage($i/12);
		}

	}

}

