
$class-prefix: "g-";

@function em($px, $base: $base-font-size) {
	@return ($px / $base) * 1em;
}

@mixin spacing_classes($name) {

	$sizes:
		0, 1, 2, 3, 4, 5, 6
	;

	$properties: (
		('l', 'left')
		('r', 'right')
		('t', 'top')
		('b', 'bottom')
	);

	@each $size in $sizes {

		/* margin */

		[#{$class-prefix}#{$name}~=mx#{$size}] {
			margin-left: ($size) * 1rem;
			margin-right: ($size) * 1rem;
		}

		[#{$class-prefix}#{$name}~=my#{$size}] {
			margin-top: ($size) * 1rem;
			margin-bottom: ($size) * 1rem;
		}

		@each $i in $properties {

			$short-name: nth($i, 1);
			$property-name: nth($i, 2);

			[#{$class-prefix}#{$name}~=m#{$short-name}#{$size}] {
				margin-#{$property-name}: ($size) * 1rem;
			}

		}

		/* padding */

		[#{$class-prefix}#{$name}~=px#{$size}] {
			padding-left: ($size) * 1rem;
			padding-right: ($size) * 1rem;
		}

		[#{$class-prefix}#{$name}~=py#{$size}] {
			padding-top: ($size) * 1rem;
			padding-bottom: ($size) * 1rem;
		}

		@each $i in $properties {

			$short-name: nth($i, 1);
			$property-name: nth($i, 2);

			[#{$class-prefix}#{$name}~=p#{$short-name}#{$size}] {
				padding-#{$property-name}: ($size) * 1rem;
			}

		}

	}

}

@mixin grid_classes($name) {

	/* --- Width --- */

	$sizes:
		"one",
		"two",
		"three",
		"four",
		"five",
		"six",
		"seven",
		"eight",
		"nine",
		"ten",
		"eleven",
		"tweleve"
	;

	@each $size in $sizes {

		$i: index($sizes, $size);

		[#{$class-prefix}#{$name}~="#{$size}"] {
			width: percentage($i/12);
		}

	}

	@include spacing_classes($name);

	/* --- Position --- */

	[#{$class-prefix}#{$name}~="centered"] {
		display: block;
		margin-left: auto;
		margin-right: auto;
	}

	/* --- Display --- */

	[#{$class-prefix}#{$name}~="display:block"] {
		display: block;
	}

	[#{$class-prefix}#{$name}~="visible"],
	[#{$class-prefix}#{$name}~="display:inline-block"] {
		display: inline-block;
	}

	[#{$class-prefix}#{$name}~="display:inline"] {
		display: inline;
	}

	[#{$class-prefix}#{$name}~="invisible"],
	[#{$class-prefix}#{$name}~="display:none"] {
		display: none;
	}

	/* --- Text --- */

	[#{$class-prefix}#{$name}~="text:left"] {
		text-align: left;
	}

	[#{$class-prefix}#{$name}~="text:center"] {
		text-align: center;
	}

	[#{$class-prefix}#{$name}~="text:right"] {
		text-align: right;
	}

}

@mixin grid_breakpoint($name, $breakpoint) {
	@media (min-width: $breakpoint) {
		@include grid_classes($name);
	}
}
