
@mixin grid_text($breakpoint) {

  [#{$grid_prefix}#{$breakpoint}~="text:left"] {
    text-align: left;
  }

  [#{$grid_prefix}#{$breakpoint}~="text:center"] {
    text-align: center;
  }

  [#{$grid_prefix}#{$breakpoint}~="text:right"] {
    text-align: right;
  }

}