
@mixin grid_visibility($breakpoint) {

  // ---- grid units ----

  .flexbox .grid__unit[#{$grid_prefix}#{$breakpoint}~="visible"],
  .no-flexbox .grid__unit[#{$grid_prefix}#{$breakpoint}~="visible"] {
    display: inline-block;
  }

  .flexbox .grid__unit[#{$grid_prefix}#{$breakpoint}~="invisible"],
  .no-flexbox .grid__unit[#{$grid_prefix}#{$breakpoint}~="invisible"] {
    display: none;
  }

  // ---- other elements ----

  [#{$grid_prefix}#{$breakpoint}~="display:none"] {
    display: none;
  }

  [#{$grid_prefix}#{$breakpoint}~="display:inline"] {
    display: inline;
  }

  [#{$grid_prefix}#{$breakpoint}~="display:inline-block"] {
    display: inline-block;
  }

  [#{$grid_prefix}#{$breakpoint}~="display:block"] {
    display: block;
  }


}